page-pagina-principal {

    .backButton {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        bottom: 50%;
        text-align: center;
        font-size: 7vw;
        color: white;
    }

    ion-title{
        text-align: center
    }

    h1{
        
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: #dfdbdb;
        font-size: 4.5vw
    } 

    ion-item{
        ion-icon{
            color: #dfdbdb;
            font-size: 20vw
            
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
        } 
    }

    .label.label-md{
        text-align: center
    }

    .size{
        font-size: 4vw;
        color: #dfdbdb
    }

    .home-content {
        background: color($colors, primary, base);
    }

    
    .blue{
        background-color: #6660b8
    }

    .red{
        background-color: #a83f3f
    }
    
    .green{
        background-color: #397c42
    }

    .violet{
        background-color: #72457a
    }
}
