<ion-content class="home-content" padding>
  <ion-grid>
    <ion-row>
        <ion-col col-2>
            <ion-icon button icon-only name="md-arrow-round-back" (click)="back()" class="backButton"></ion-icon>
          </ion-col>
          <ion-col col-8>
          <ion-title align="center"><p style="font-size:5vw;">Credencial Virtual</p></ion-title>
        </ion-col>
        <ion-col col-2>
        </ion-col>
    </ion-row>
  </ion-grid>
  <div class="home-box">
  <ion-card>
    <ion-item button (click)="toPerfilPage()">
        <ion-avatar item-start left *ngIf="fotoPerfil">
            <img src="{{urlFoto}}">
        </ion-avatar>
        <p style="font-size:5vw;">{{(perfilData | async)?.primerNombre}} {{(perfilData | async)?.primerApellido}}</p>
        <p style="font-size:3vw;">{{(perfilData | async)?.cargo}}</p>
    </ion-item>    
      <ion-card-content>
        <ion-grid>
          <ion-row class="responsivo">
            <ion-col col-6>
              <p>Rut:</p>
            </ion-col>
            <ion-col col-6>
              <p>{{(perfilData | async)?.rut}}</p>
            </ion-col> 
            <ion-col col-6>
              <p>Nacionalidad:</p>
            </ion-col>
            <ion-col col-6>
              <p>{{(perfilData | async)?.nacionalidad}}</p>
            </ion-col>
            <ion-col col-6>
              <p>Empresa:</p>
            </ion-col>
            <ion-col col-6>
              <p>{{(perfilData | async)?.empresa}}</p>
            </ion-col>  
            <ion-col col-6>
              <p>Nacimiento:</p>
            </ion-col>
            <ion-col col-6>
              <p>{{(perfilData | async)?.fechaNacimiento}}</p>
            </ion-col>   
            <ion-col col-6>
              <p>Cargo:</p>
            </ion-col>
            <ion-col col-6>
              <p>{{(perfilData | async)?.cargo}}</p>
            </ion-col> 
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!--ion-content class="login-content" padding>
  <ion-col><ion-icon button icon-only name="md-log-out" (click)="logout()" class="backButton"></ion-icon></ion-col>
  <ion-col><ion-title><h1>Perfil</h1></ion-title></ion-col>
    
    <div class="login-box">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col col-12 col-sm-9 col-md-8 col-lg-6 col-xl-6>
            <h1 align="center" style="color: rgb(0, 0, 0)">Bienvenido<br><b>{{(perfilData | async)?.primerNombre}}</b><br>OT Ready</h1><br><br>
            <h2 align="center" style="color: rgb(0, 0, 0)">Tus datos de perfil son los siguientes:</h2><br>
            <h3 style="color: rgb(0, 0, 0)"><b>Nombre :</b> {{(perfilData | async)?.primerNombre}} {{(perfilData | async)?.primerApellido}}</h3>
            <h3 style="color: rgb(0, 0, 0)"><b>Cargo :</b> {{(perfilData | async)?.cargo}}</h3>
            <h3 style="color: rgb(0, 0, 0)"><b>Perfil de Usuario :</b> {{(perfilData | async)?.perfil}}</h3>
            <ion-card *ngIf="!coor">
              <ion-card-content>
              <h3>Su perfil no permite usar ésta aplicación desde la web</h3>
              <h3>Por favor, ingrese mediante nuestra APP Android y realice sus labores por ese medio</h3>
              </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
  
        <ion-col>
        </ion-col>
        <ion-col *ngIf="coor" align="center">
            <button ion-button (click)="toUsuariosPage()" class="green"> Usuarios </button>
        </ion-col>
        <ion-col *ngIf="coor" align="center">
            <button ion-button (click)="toListaPage()" class="green"> Listados </button>
        </ion-col>
        <ion-col align="center">
            <button ion-button (click)="toInfoPage()" class="green"> Información </button>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
    </div>
  </ion-content-->