page-home {

    p{
        font-family: Arial, Helvetica, sans-serif;
    }

    .profile-image{
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }

    .backButton {
        font-size: 30px;
        color: white;
    }

    .home-content {
        background: color($colors, primary, base);
    }
      
    .home-box {
        background: color($colors, primary, contrast);
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
    }

}
